@{
    ViewBag.Title = "Home Page";
}
<h2>Coming Soon!</h2>


@*
 @using (Ajax.BeginForm("Index", "Home", 
            new AjaxOptions { HttpMethod = "GET", 
                              InsertionMode = InsertionMode.Replace, 
                              UpdateTargetId = "searchResults" }))
 {
    <input name="q" type="text" />
    <input type="submit" value="Search" />
 }

 @Html.Partial("_RestaurantList", Model)

*@


















@*<form method="get" action="@Url.Action("JsonSearch", "Home")" id="searchForm">
    <input type="text" name="q" data-autocomplete="@Url.Action("QuickSearch", "Home")" /> 
    <input type="submit" value="Search" />
</form>
*@
@*<table>
     <thead>
        <th>
            Name
        </th>
        <th>
            Address
        </th>
    </thead>
    <tbody id="searchResults">
    
    </tbody>
</table>

<script id="searchTemplate" type="text/x-jquery-tmpl">
    <tr>
        <td>
            ${Name}
        </td>
        <td>
            ${City}, ${Country}            
        </td>
    </tr>
</script>*@

<div id="progress">
    <img src="@Url.Content("~/Content/images/ajax-loader.gif")" alt="loader" />
</div>
